<!-- Toolbar -->
<div class="flex items-center justify-center">
  <div class="bg-white rounded-xl shadow-2xl p-6 md:w-1/2 w-full">
    <h1 class="text-gray-400 text-3xl">Todo List</h1>
    <div class="flex flex-col mt-4">

      
      <input 
      class="shadow border rounded w-2/5 py-2 px-3 mb-1 mr-4 hover:shadow-lg"
      placeholder="Titulo"
      />
      <textarea class="shadow border rounded w-full py-2 mb-2 px-3 mr-4 hover:shadow-lg" matInput placeholder="Descripción"></textarea>
      <div class="flex flex-row justify-center">
        <button 
          class="p-2 border-2 rounded-md w-2/5 border-teal-500 text-teal-500 hover:text-white hover:bg-teal-500"
        >
          Add
        </button>
      </div>
    </div>
      <app-todo [todo]="todo" *ngFor="let todo of todos"></app-todo>
  </div>
</div>
